<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Insamlingsappen</display-name>
  <description>Sajt för att samla upp information om vilket postnummer det är på en given plats.</description>

  <listener>
    <listener-class>nu.postnummeruppror.insamlingsappen.webapp.ServiceStarter</listener-class>
  </listener>


  <!-- Allow CORS requests from anyone -->


  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>

    <init-param>
      <param-name>cors.allowOrigin</param-name>
      <param-value>*</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>


  <!-- version 0.0.4 -->

  <servlet>
    <servlet-name>0.0.4/SetAccount</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.SetAccountServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.4/SetAccount</servlet-name>
    <url-pattern>/api/0.0.4/account/set</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.4/AccountExists</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.AccountExistsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.4/AccountExists</servlet-name>
    <url-pattern>/api/0.0.4/account/exists</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.4/CreateLocationSample</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.CreateLocationSampleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.4/CreateLocationSample</servlet-name>
    <url-pattern>/api/0.0.4/location_sample/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.4/SearchLocationSample</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.SearchLocationSampleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.4/SearchLocationSample</servlet-name>
    <url-pattern>/api/0.0.4/location_sample/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.4/ServerStatistics</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.ServerStatisticsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.4/ServerStatistics</servlet-name>
    <url-pattern>/api/0.0.4/statistics/server</url-pattern>
  </servlet-mapping>

  <!-- version 0.0.5 -->

  <servlet>
    <servlet-name>0.0.5/SetAccount</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.SetAccountServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.5/SetAccount</servlet-name>
    <url-pattern>/api/0.0.5/account/set</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.5/AccountExists</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.AccountExistsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.5/AccountExists</servlet-name>
    <url-pattern>/api/0.0.5/account/exists</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.5/CreateLocationSample</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_5.CreateLocationSampleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.5/CreateLocationSample</servlet-name>
    <url-pattern>/api/0.0.5/location_sample/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.5/SearchLocationSample</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_5.SearchLocationSampleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.5/SearchLocationSample</servlet-name>
    <url-pattern>/api/0.0.5/location_sample/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.5/ServerStatistics</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.ServerStatisticsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.5/ServerStatistics</servlet-name>
    <url-pattern>/api/0.0.5/statistics/server</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.5/PostalTownVoronoi</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_5.PostalTownVoronoiServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>0.0.5/PostalTownVoronoi</servlet-name>
    <url-pattern>/api/0.0.5/postal_town/voronoi</url-pattern>
  </servlet-mapping>


  <!-- version 0.0.6 -->

  <servlet>
    <servlet-name>0.0.6/SetAccount</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.SetAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/SetAccount</servlet-name>
    <url-pattern>/api/0.0.6/account/set</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.6/AccountExists</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.AccountExistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/AccountExists</servlet-name>
    <url-pattern>/api/0.0.6/account/exists</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.6/CreateLocationSample</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.CreateLocationSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/CreateLocationSample</servlet-name>
    <url-pattern>/api/0.0.6/location_sample/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.6/SearchLocationSample</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.SearchLocationSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/SearchLocationSample</servlet-name>
    <url-pattern>/api/0.0.6/location_sample/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.6/ServerStatistics</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_4.ServerStatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/ServerStatistics</servlet-name>
    <url-pattern>/api/0.0.6/statistics/server</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>0.0.6/TagVoronoi</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.TagVoronoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/TagVoronoi</servlet-name>
    <url-pattern>/api/0.0.6/location_sample/voronoi</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>0.0.6/FindPostalTownFromPostalCodeServlet</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.FindPostalTownFromPostalCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/FindPostalTownFromPostalCodeServlet</servlet-name>
    <url-pattern>/api/0.0.6/postalTown/findUsingPostalCode</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>0.0.6/ListLocationSamplesByGeoJsonPolygonServlet</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.ListLocationSamplesByGeoJsonPolygonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/ListLocationSamplesByGeoJsonPolygonServlet</servlet-name>
    <url-pattern>/api/0.0.6/location_sample/listByGeoJsonPolygon</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>0.0.6/ReplaceLocationSampleServlet</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.ReplaceLocationSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/ReplaceLocationSampleServlet</servlet-name>
    <url-pattern>/api/0.0.6/location_sample/replace</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>0.0.6/RunNightlyServlet</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.RunNightlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/RunNightlyServlet</servlet-name>
    <url-pattern>/api/0.0.6/nightly/run</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>0.0.6/FindSamplesByTagsServlet</servlet-name>
    <servlet-class>nu.postnummeruppror.insamlingsappen.webapp.version_0_0_6.FindSamplesByTagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0.0.6/FindSamplesByTagsServlet</servlet-name>
    <url-pattern>/api/0.0.6/location_sample/findByTags</url-pattern>
  </servlet-mapping>



</web-app>
